<div id="webpace-body">

    <div id="webpace-artist-name" class="webpace-start-page">
        PEDRO DE PANTONINI
    </div>

    <div id="webpace-artist-undertitle" class="webpace-start-page">
        1969 - 2016
    </div>

    <div id="webpace-artist-info" class="webpace-start-page webpace-surfin">
        ...surfin' through works<span><i class="fa fa-chevron-circle-right m-l c-p"></i></span>
    </div>

    <div id="webpace-passepartout">
        <img id="webpace-creation"></img>
        <div id="webpace-black-white">
			<div id="webpace-black"></div>
        	<div id="webpace-white"></div>
        </div>
    </div>

	<div id="webpace-egg-region" class="webpace-start-page"></div>

    <div class="webpace-border-image" id="webpace-top-left-border"></div>
    <div class="webpace-border-image" id="webpace-top-right-border"></div>
    <div class="webpace-border-image" id="webpace-bottom-left-border"></div>
    <div class="webpace-border-image" id="webpace-bottom-right-border"></div>

    <div class="webpace-border-image webpace-horizontal-border" id="webpace-top-border"></div>
    <div class="webpace-border-image webpace-vertical-border" id="webpace-right-border"></div>
    <div class="webpace-border-image webpace-horizontal-border" id="webpace-bottom-border"></div>
    <div class="webpace-border-image webpace-vertical-border" id="webpace-left-border"></div>
</div>
